<div class="grid p-3 md:grid-cols-3 filter hover:shadow-lg">
  <div>
    <a [routerLink]="['/product', product.id]">
      <img
      class="object-contain h-52 w-full"
      *ngFor="let imageurl of product.images; let isFirst = first"
      [src]="imageurl"
      [alt]="product.title"
      [ngClass]="{'hidden': !isFirst}"
    />
    </a>
  </div>

  <div class="pl-5 md:col-span-2">
    <h3>
      <a
        class="text-lg font-medium hover:text-brand line-clamp-1"
        [routerLink]="['/product', product.id]"
        nz-tooltip
        [nzTooltipTitle]="product.title"
        [nzTooltipMouseEnterDelay]="0.75"
        >{{ product.title }}</a
      >
    </h3>
    <app-star-rating></app-star-rating>
    <app-product-price
      [showSecondPrice]="false"
      [mainPrice]="product.price"
    ></app-product-price>
    <div>
      <p class="line-clamp-3">{{ product.desciption }}</p>
    </div>
    <div appCardActionContainer class="flex items-center">
      <a class="add-to-cart" (click)="addToCart()">
        <i class="shopping-cart zmdi zmdi-shopping-cart"></i>
        ADD TO CART
      </a>
      <app-card-action
        [showAddToCart]="false"
        [productId]="product.id"
        class="card-action self-center ml-3 hidden"
        (wishlist)="handleWishlistAction($event)"
      ></app-card-action>
    </div>
  </div>
</div>
