<div class="w-full max-w-md">
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 my-8"
    [formGroup]="form"
  >
    <h2 class="text-2xl font-bold text-center">Update profile</h2>
    <app-messages [messages]="authMessages$ | async"></app-messages>
    <div class="form-container grid grid-cols-2 gap-x-3">
      <div class="mb-4">
        <app-label [id]="'first_name'">First name</app-label>
        <app-input
          [id]="'first_name'"
          [parentForm]="form"
          [controlName]="'first_name'"
        ></app-input>
        <app-input-error *ngIf="formControls.first_name.hasError('required')">
          Please fill in first name
        </app-input-error>
      </div>

      <div class="mb-4">
        <app-label [id]="'last_name'">Last name</app-label>
        <app-input
          [id]="'last_name'"
          [parentForm]="form"
          [controlName]="'last_name'"
        ></app-input>
        <app-input-error *ngIf="formControls.last_name.hasError('required')">
          Please fill in last name
        </app-input-error>
      </div>

      <div class="mb-4 col-span-2">
        <app-label [id]="'address'">Address</app-label>
        <app-input
          [id]="'address'"
          [parentForm]="form"
          [controlName]="'address'"
        ></app-input>
        <app-input-error *ngIf="formControls.address.hasError('required')">
          Please fill in your address
        </app-input-error>
      </div>

      <div class="mb-4 col-span-2">
        <app-label [id]="'phone'">Phone</app-label>
        <app-input
          [id]="'phone'"
          [parentForm]="form"
          [controlName]="'phone'"
          [inputType]="'tel'"
        ></app-input>
        <app-input-error *ngIf="formControls.phone.hasError('required')">
          Please fill in your phone
        </app-input-error>
      </div>
    </div>
    <app-button (buttonClick)="submit()">Update profile</app-button>
  </form>
</div>
