<div class="w-full max-w-xs">
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="submit()"
  >
    <h2 class="text-2xl font-bold text-center">Reset Password</h2>
    <app-messages [messages]="messages$ | async"></app-messages>
    <div class="mb-4">
      <app-label [id]="'password'">Current Password</app-label>
      <app-input
        [id]="'password'"
        [inputType]="'password'"
        [control]="formControls.password"
      ></app-input>
      <app-input-error [control]="formControls.password">
        Please fill in password
      </app-input-error>
    </div>

    <div class="mb-6">
      <app-label [id]="'new_password'">New Password</app-label>
      <app-input
        [id]="'new_password'"
        [control]="formControls.new_password"
        [inputType]="'password'"
      ></app-input>
      <app-input-error [control]="formControls.new_password">
        Please fill in new password
      </app-input-error>
    </div>

    <div class="mb-6">
      <app-label [id]="'confirm_new_password'">Confirm Password</app-label>
      <app-input
        [id]="'confirm_new_password'"
        [inputType]="'password'"
        [control]="formControls.confirm_new_password"
      ></app-input>
      <app-input-error
        [control]="formControls.confirm_new_password"
      >
        Please fill in confirm password
      </app-input-error>
      <app-input-error
        [control]="formControls.confirm_new_password"
        [errorCode]="'mustMatch'"
      >
        Your password doesn't match
      </app-input-error>
    </div>
    <app-button [disabled]="!resetPasswordForm.valid">Reset</app-button>
  </form>
</div>
