<div class="w-full max-w-xs">
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    [formGroup]="resetPasswordForm"
  >
    <h2 class="text-2xl font-bold text-center">Reset Password</h2>
    <app-messages [messages]="messages$ | async"></app-messages>
    <div class="mb-4">
      <app-label [id]="'password'">Current Password</app-label>
      <app-input
        [id]="'password'"
        [parentForm]="resetPasswordForm"
        [controlName]="'password'"
        [inputType]="'password'"
      ></app-input>
      <app-input-error *ngIf="formControls.password.hasError('required')">
        Please fill in password
      </app-input-error>
    </div>
    <div class="mb-6">
      <app-label [id]="'new_password'">New Password</app-label>
      <app-input
        [id]="'new_password'"
        [parentForm]="resetPasswordForm"
        [controlName]="'new_password'"
        [inputType]="'password'"
      ></app-input>
      <app-input-error *ngIf="formControls.new_password.hasError('required')">
        Please fill in new password
      </app-input-error>
    </div>
    <div class="mb-6">
      <app-label [id]="'confirm_new_password'">Confirm Password</app-label>
      <app-input
        [id]="'confirm_new_password'"
        [parentForm]="resetPasswordForm"
        [controlName]="'confirm_new_password'"
        [inputType]="'password'"
      ></app-input>
      <app-input-error
        *ngIf="formControls.confirm_new_password.hasError('required')"
      >
        Please fill in confirm password
      </app-input-error>
      <app-input-error
        *ngIf="formControls.confirm_new_password.hasError('mustMatch')"
      >
        Your password doesn't match
      </app-input-error>
    </div>
    <app-button (buttonClick)="submit()">Reset</app-button>
  </form>
</div>
