<div class="flex flex-col">
  <div class="filter-section">
    <ng-container
      [ngTemplateOutlet]="filterTitle"
      [ngTemplateOutletContext]="{ title: 'Categories' }"
    ></ng-container>
    <div class="flex flex-col">
      <a
        class="hover:text-brand text-base pb-1"
        *ngFor="let category of categories"
        [routerLink]="['/collections', category.id]"
      >
        {{ category.name }}</a
      >
    </div>
  </div>

  <div class="filter-section">
    <ng-container
      [ngTemplateOutlet]="filterTitle"
      [ngTemplateOutletContext]="{ title: 'Color' }"
    ></ng-container>
    <app-radio-group
      [items]="prices"
      (change)="handleColorAndPriceChange($event)"
    ></app-radio-group>
  </div>
  <div class="filter-section">
    <ng-container
      [ngTemplateOutlet]="filterTitle"
      [ngTemplateOutletContext]="{ title: 'Price' }"
    ></ng-container>
    <app-radio-group
      [items]="colors"
      (change)="handleColorAndPriceChange($event)"
    ></app-radio-group>
  </div>
</div>

<ng-template #filterTitle let-title="title">
  <h2 class="uppercase font-bold mb-4 text-xl">{{ title }}</h2>
</ng-template>
