<div class="bg-gray-300 grid place-items-center">
  <div class="w-9/12">
    <div class="justify-self-start">
      <app-section-title>today deals</app-section-title>
    </div>

    <div
      *ngIf="(todayDealProducts$ | async) as products"
      class="grid grid-cols-1 mt-11 mb-11 bg-white lg:grid-cols-2"
    >
      <!-- two cards on the side -->
      <div class="grid grid-cols-1">
        <app-todaydeals-product-card [product]="products[0]"></app-todaydeals-product-card>
        <app-todaydeals-product-card [product]="products[1]"></app-todaydeals-product-card>
      </div>

      <!-- large card -->
      <app-todaydeals-large-product-card [product]="products[2]"></app-todaydeals-large-product-card>
    </div>
  </div>
</div>
