.table-container {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  // border: 1px solid #ddd;
}

table,
th,
td {
  border: 0.5px solid #ddd;
}

table {
  border-collapse: collapse;
}

.remove-btn,
.update-btn {
  padding: 10px;
  display: inline-block;
  color: white;
}

.remove-btn {
  font: normal normal normal 14px/1 FontAwesome;
  background-color: rgb(230, 88, 88);
}

.update-btn {
  background-color: rgb(96, 96, 236);
  font-size: 14px;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
}
