<ng-container *ngIf="vm$ | async as vm">
  <app-breadcrumb [items]="breadcrumbData"></app-breadcrumb>
  <div class="w-11/12 lg:w-9/12 mx-auto">
    <h1 class="uppercase p-5 bg-gray-200 mb-5 font-semibold">SHOPPING CART</h1>
    <div *ngIf="vm.total === 0" class="mb-10">
      <h1 class="uppercase p-5 bg-gray-200 mb-5 font-semibold">
        YOUR CART IS CURRENTLY EMPTY
      </h1>
      <p>
        Continue browsing
        <a [routerLink]="['/collections/all']" class="hover:text-brand">here</a>
      </p>
    </div>
    <form [formGroup]="form">
      <div
        *ngIf="vm.total !== 0"
        class="table-container mb-5"
        formArrayName="cart"
      >
        <table class="min-w-max w-full">
          <tr>
            <th class="text-center text-gray-500">Image</th>
            <th class="text-center text-gray-500">Product Name</th>
            <th class="text-center text-gray-500">Quantity</th>
            <th class="text-center text-gray-500">Unit Price</th>
            <th class="text-center text-gray-500">Total</th>
          </tr>
          <tr *ngFor="let item of vm.cart; let index = index">
            <td class="p-5">
              <div class="flex justify-center">
                <a [routerLink]="['/product', item.id]"
                  ><img
                    class="w-14 h-auto"
                    [src]="item.images[0]"
                    [alt]="item.title"
                /></a>
              </div>
            </td>
            <td class="p-5">
              <div class="flex justify-center">
                <h5>{{ item.title }}</h5>
              </div>
            </td>
            <td class="p-5">
              <div class="flex flex-col items-center">
                <input
                  class="w-16 px-4 py-2 border border-gray-300 font-simibold"
                  [formControlName]="index"
                  min="1"
                  type="number"
                />
                <div class="flex items-center mt-2">
                  <button
                    nz-tooltip
                    [nzTooltipTitle]="'Update cart'"
                    [nzTooltipMouseEnterDelay]="0.75"
                    [nzTooltipPlacement]="'bottom'"
                    (click)="handleUpdateOrderQuantity(item.id, index)"
                  >
                    <i class="update-btn zmdi zmdi-refresh"></i>
                  </button>
                  <button
                    nz-tooltip
                    [nzTooltipTitle]="'Remove item'"
                    [nzTooltipMouseEnterDelay]="0.75"
                    [nzTooltipPlacement]="'bottom'"
                    (click)="handleRemoveItem(item.id, index)"
                  >
                    <i class="remove-btn fas fa-times-circle"></i>
                  </button>
                </div>
              </div>
            </td>
            <td class="p-2">
              <div class="flex justify-center">
                <app-product-price
                  [mainPrice]="item.price"
                  [showSecondPrice]="false"
                ></app-product-price>
              </div>
            </td>
            <td class="p-2">
              <div class="flex justify-center">
                <app-product-price
                  [mainPrice]="item.price * item.orderQuantity"
                  [showSecondPrice]="false"
                ></app-product-price>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </form>

    <div *ngIf="vm.total !== 0" class="mb-5 w-full flex justify-center">
      <table>
        <tr>
          <td class="text-center p-3" colspan="2">
            Shipping, taxes, and discounts will be calculated at checkout
          </td>
        </tr>
        <tr>
          <td class="text-center w-2/4">Sub totals:</td>
          <td>
            <div class="flex justify-center">
              <app-product-price
                class="border-none"
                [mainPrice]="vm.totalPrice"
                [showSecondPrice]="false"
              ></app-product-price>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div
      *ngIf="vm.total !== 0"
      class="flex flex-col items-center sm:flex-row sm:justify-around mb-10"
    >
      <app-button (click)="navigateTo('/collections/all')"
        >CONTINUE SHOPPING</app-button
      >
      <app-button (click)="navigateTo('/checkout')"
        >PROCEED TO CHECKOUT</app-button
      >
    </div>
  </div>
</ng-container>
