#search-button::before {
  font-family: FontAwesome;
  content: "\f002";
  display: inline-block;
  background-color: var(--brand-color);
  padding: 0.5rem;
  border-radius: 9999px;
  width: 60px;
  color: white;
}

#free-shipping::before {
  font-family: "Material-Design-Iconic-Font";
  content: "\f1e6";
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
  color: var(--brand-color);
}
