<div class="w-full max-w-xs">
    <form
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      [formGroup]="forgotPasswordForm"
    >
      <h2 class="text-2xl font-bold text-center">Recover password</h2>
      <div class="mb-6">
        <app-label>Email</app-label>
        <app-input [parentForm]="forgotPasswordForm" [controlName]="'email'"></app-input>
      </div>
      </div>
      <app-button [text]="'Send recover link'" (buttonClick)="submit()"></app-button>
    </form>
  </div>
  