<div class="today-deal-product-list relative">
    <swiper
      #swipercontainer
      [slidesPerView]="2"
      [spaceBetween]="2"
      [breakpoints]="breakpoints"
      [loop]="false"
    >
      <ng-template
        swiperSlide
        let-data
        *ngFor="let slide of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; index as i"
      >
        <app-product-card [productItem]="{ name: i }"></app-product-card>
      </ng-template>
    </swiper>

    <app-horizontal-nav-button
      class="today-deal-nav-button hidden"
      [shape]="'round'"
    ></app-horizontal-nav-button>
  </div>