<div class="flex flex-col items-center space-y-3">
  <a [routerLink]="['/']"
    ><img
      class="max-w-full h-auto"
      src="https://cdn.shopify.com/s/files/1/1939/5421/files/logo2@2x.png?v=1493986970"
      alt="G Legend logo"
  /></a>
  <div class="space-y-3">
    <div id="search-container" class="rounded-full p-2 space-x-1 border-brand">
      <form action="" class="ml-10">
        <input class="border-0 focus:border-0 focus:ring-0 border-collapse" type="text" placeholder="Search entire store here..."/>
        <button></button>
      </form>
    </div>
    <div id="free-shipping">
        <p class="text-center">Free Shipping on Orders $50+</p>
    </div>
    <div id="header-right">
        <div></div>
    </div>
  </div>
</div>
