<div class="product-card grid grid-cols-1 bg-white border grid-rows-5">
  <div class="carousel relative row-span-3">
    <div>
      <!-- show one image at a time -->
      <div class="w-full">
        <img
          src="https://cdn.shopify.com/s/files/1/1939/5421/products/14m-800x800_158bd5ae-972c-4d3d-95e2-49b85a5130f9_x800.jpg?v=1493998996"
          alt=""
        />
      </div>
      <div></div>
      <div></div>
    </div>

    <app-horizontal-nav-button
      class="prev-next hidden"
    ></app-horizontal-nav-button>
  </div>

  <!-- info -->
  <div class="pl-5 row-span-1">
    <h3>Nunce Failadf</h3>

    <!-- stars -->
    <app-stars></app-stars>

    <!-- price: using currency pipe -->
    <app-product-price></app-product-price>
  </div>

  <!-- product-card-action -->
  <app-product-card-action class="card-action hidden self-center ml-5"></app-product-card-action>
</div>
