<div class="w-9/12 mx-auto">
  <div>
    <div><app-section-title>Feature products</app-section-title></div>
    <div>
      <!-- product list -->
      <div class="grid grid-cols-2 gap-2 md:grid-cols-3 xl:grid-cols-6">
        <app-feature-product-card *ngFor="let i of [1, 2, 3, 4, 5, 6]">{{
          i
        }}</app-feature-product-card>
      </div>
      <!-- horizontal navigation button -->
    </div>
  </div>

  <div class="owl-wrapper-outer">
    <div
      class="owl-wrapper"
      style="
        width: 2730px;
        left: 0px;
        display: block;
        transform: translate3d(0px, 0px, 0px);
        transition: all 1000ms ease 0s;
      "
    >
      <div class="owl-item" style="width: 195px">
        <div class="item">
          <a href="/collections">
            <img
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-01_170x130.png?v=1493771872"
              alt=""
              class="img-responsive"
            />
          </a>
        </div>
      </div>
      <div class="owl-item" style="width: 195px">
        <div class="item">
          <a href="/collections">
            <img
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-02_170x130.png?v=1493771880"
              alt=""
              class="img-responsive"
            />
          </a>
        </div>
      </div>
      <div class="owl-item" style="width: 195px">
        <div class="item">
          <a href="/collections">
            <img
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-03_170x130.png?v=1493771887"
              alt=""
              class="img-responsive"
            />
          </a>
        </div>
      </div>
      <div class="owl-item" style="width: 195px">
        <div class="item">
          <a href="/collections">
            <img
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-04_170x130.png?v=1493771893"
              alt=""
              class="img-responsive"
            />
          </a>
        </div>
      </div>
      <div class="owl-item" style="width: 195px">
        <div class="item">
          <a href="/collections">
            <img
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-05_170x130.png?v=1493771900"
              alt=""
              class="img-responsive"
            />
          </a>
        </div>
      </div>
      <div class="owl-item" style="width: 195px">
        <div class="item">
          <a href="/collections">
            <img
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-06_170x130.png?v=1493771907"
              alt=""
              class="img-responsive"
            />
          </a>
        </div>
      </div>
      <div class="owl-item" style="width: 195px">
        <div class="item">
          <a href="/collections">
            <img
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-01_4654e4fd-cadf-443c-9daa-d64b7e3979ff_170x130.png?v=1493771914"
              alt=""
              class="img-responsive"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
