<div
  class="w-11/12 lg:w-9/12 mx-auto"
  *ngIf="featureProducts$ | async as products"
>
  <div>
    <div><app-section-title>Feature products</app-section-title></div>
    <div>
      <app-carousel
        [dataSource]="products"
        [breakppoints]="breakpointsProductCard"
      >
        <ng-template let-product="data" #swiperCard>
          <app-feature-product-card
            [product]="product"
          ></app-feature-product-card>
        </ng-template>
      </app-carousel>
      <br>
      <br>
      <app-carousel
        [dataSource]="logoUrl"
        [breakpoints]="breakpointsLogo"
      >
        <ng-template #swiperCard let-imgurl="data">
          <a href=""
            ><img
              class="mx-auto"
              [src]="imgurl"
              alt=""
          /></a>
        </ng-template>
      </app-carousel>
    </div>
  </div>
</div>
