<div class="w-11/12 lg:w-9/12 mx-auto">
  <div>
    <div><app-section-title>Feature products</app-section-title></div>
    <div>
      <!-- product list -->
      <swiper
        #swipercontainer
        [slidesPerView]="1"
        [spaceBetween]="2"
        [breakpoints]="breakpointsProductCard"
        [loop]="false"
      >
        <ng-template swiperSlide let-data *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
          <app-feature-product-card>{{ i }}</app-feature-product-card>
        </ng-template>
      </swiper>
      <!-- <div class="grid grid-cols-2 gap-2 md:grid-cols-3 xl:grid-cols-6">
        
      </div> -->

      <swiper
        #swipercontainer
        [slidesPerView]="2"
        [spaceBetween]="2"
        [breakpoints]="breakpointsLogo"
        [loop]="false"
      >
        <ng-template swiperSlide let-data *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
          <a href=""
            ><img class="mx-auto"
              src="//cdn.shopify.com/s/files/1/1939/5421/files/br-03_170x130.png?v=1493771887"
              alt=""
          /></a>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
