<div class="px-4">
  <img [src]="imageUrl$ | async" alt="Image" class="w-64 h-64 object-contain" />
  <div>
    <swiper
      #swipercontainer
      [slidesPerView]="3"
      [spaceBetween]="5"
      [breakpoints]="breakpoints"
      [loop]="false"
    >
      <ng-template swiperSlide let-data *ngFor="let imgUrl of images">
        <img
          class="border-gray-500 border hover:border-brand"
          [src]="imgUrl"
          alt="Image"
          (click)="changeImage(imgUrl)"
        />
      </ng-template>
    </swiper>
  </div>
</div>
