<ng-container *ngIf="vm$ | async as vm">
  <app-breadcrumb [items]="vm.breadcrumb"></app-breadcrumb>
  <app-loading-spinner [isLoading]="vm.loading"></app-loading-spinner>
  <div class="w-11/12 md:w-9/12 mx-auto" *ngIf="vm.product">
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2">
        <app-images-section [images]="vm.product.images"></app-images-section>
      </div>

      <div class="md:w-1/2">
        <h2 class="text-2xl text-gray-700 mb-3">{{ vm.product.title }}</h2>
        <div class="mb-3">
          <app-star-rating></app-star-rating>
        </div>
        <div class="mb-3">
          <app-product-price
            [mainPrice]="vm.product.price"
            [showSecondPrice]="false"
          ></app-product-price>
        </div>
        <p class="py-5 border-t border-b border-gray-200">
          {{ vm.product.desciption }}
        </p>

        <!-- actions -->
        <div class="flex items-center pt-5 pb-2">
          <form [formGroup]="cartForm" class="flex mr-4">
            <input
              type="number"
              formControlName="quantity"
              id="quantity"
              min="1"
            />
            <div class="flex flex-col" *ngIf="vm.productQuantity">
              <button
                id="plus"
                (click)="changeQuantity('plus', vm.productQuantity)"
              >
                +
              </button>
              <button
                id="minus"
                (click)="changeQuantity('minus', vm.productQuantity)"
              >
                -
              </button>
            </div>
          </form>
          <app-button
            (click)="addToCart(vm.product)"
            [disabled]="!cartForm.valid"
          >
            <i class="shopping-cart zmdi zmdi-shopping-cart"></i>
            ADD TO CART
          </app-button>
          <a
            *ngIf="vm.isLoggedIn"
            class="wishlist zmdi zmdi-favorite-outline ml-3"
            [ngClass]="{ inWishlist: vm.wishlistIds.has(vm.product._id) }"
            (click)="
              vm.wishlistIds.has(vm.product._id)
                ? handleWishlistAction('remove', vm.product)
                : handleWishlistAction('add', vm.product)
            "
          ></a>
        </div>
        <app-input-error
          [control]="cartForm.controls.quantity"
          [errorCode]="'min'"
        >
          Quantity can not be a negative number
        </app-input-error>
        <!-- end of action -->

        <p class="text-gray-700 mb-3 font-semibold">
          Brand: <a class="hover:text-brand" [routerLink]="['/']">Appla</a>
        </p>
        <p class="font-semibold">
          Availability:
          <span class="text-green-500">{{ vm.product.status }}</span>
        </p>
        <div>
          <app-social-icons></app-social-icons>
        </div>
      </div>
    </div>

    <!-- tab -->
    <div class="mt-20">
      <app-details-tabs [product]="vm.product"></app-details-tabs>
    </div>

    <!-- we also recommend -->
    <div class="my-16">
      <h2 class="recommendProducts relative uppercase text-xl mb-8 font-medium">
        We aslso recommends
      </h2>
      <app-product-carousel
        [products]="vm.recommendProducts"
        [slidesPerView]="1"
        [breakpoints]="recommendProductsBreakpoint"
      ></app-product-carousel>
    </div>
  </div>
</ng-container>
