<div class="grid grid-cols-3 hover:shadow-md">
  <!-- left -->
  <div class="w-9/12 lg:w-11/12 col-span-1 place-self-center flex justify-center items-center">
    <a href=""
      ><img
        src="https://cdn.shopify.com/s/files/1/1939/5421/products/16-800x800_x800.jpg?v=1493127624"
        alt=""
    /></a>
  </div>

  <!-- right -->
  <div class="col-span-2">
    <h2>Donec app temppus</h2>
    <div class="star-price">
      <app-star-rating></app-star-rating>
      <app-product-price></app-product-price>
    </div>
    <app-card-action
      class="card-action hidden mt-2"
    ></app-card-action>
  </div>
</div>
