<ng-container *ngIf="vm$ | async as vm">
  <div class="w-full max-w-2xl mx-auto">
    <form
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      [formGroup]="form"
      (ngSubmit)="handleSubmit()"
    >
      <h2 class="text-2xl font-bold text-center">{{ buttonText }} product</h2>
      <app-messages [messages]="vm.messages"></app-messages>
      <div class="mb-6">
        <app-label [id]="'title'">Title</app-label>
        <app-input [id]="'title'" [control]="form.title"></app-input>
        <app-input-error [control]="formControls.title">
          Please fill in title
        </app-input-error>
      </div>

      <div class="mb-6">
        <app-label [id]="'desciption'">Description</app-label>
        <textarea
          formControlName="desciption"
          id="desciption"
          rows="10"
          class="w-full rounded-lg"
        ></textarea>
      </div>

      <div class="mb-6">
        <app-label [id]="'sku'">sku</app-label>
        <app-input [id]="'sku'" [control]="form.sku"></app-input>
        <app-input-error [control]="formControls.sku">
          Please fill in product's sku
        </app-input-error>
      </div>

      <div class="mb-6">
        <app-label [id]="'price'">Price</app-label>
        <app-input [id]="'price'" [control]="form.price"></app-input>
        <app-input-error [control]="formControls.price">
          Please fill in product's price
        </app-input-error>
      </div>

      <div class="mb-6">
        <app-label [id]="'quantity'">Quantity</app-label>
        <app-input [id]="'quantity'" [control]="form.quantity"></app-input>
        <app-input-error [control]="formControls.quantity">
          Please fill in product's quantity
        </app-input-error>
      </div>

      <div class="mb-6">
        <app-label [id]="'category'">Category</app-label>
        <app-select
          [width]="'100%'"
          [items]="vm.categoriesSelectData"
          [defaultValue]="defaultCategory"
          (change)="handeCategoryChange($event)"
        ></app-select>
      </div>

      <div class="mb-6">
        <app-label [id]="'active'">Active</app-label>
        <app-select
          [width]="'100%'"
          [items]="vm.activeSelectData"
          [defaultValue]="defaultIsActive"
          (change)="handleIsActiveChange($event)"
        ></app-select>
      </div>

      <div class="mb-6" formArrayName="images">
        <app-label [id]="'images'">Image urls</app-label>
        <div
          *ngFor="let control of images.controls; let index = index"
          class="flex w-full justify-between"
        >
          <app-input class="w-10/12" [control]="control"></app-input>
          <app-button
            (click)="removeImageControl(index)"
            [buttonType]="'button'"
            [className]="'bg-red-600 hover:bg-red-300'"
          >
            X
          </app-button>
        </div>
        <app-input-hint>Delete field if it is empty</app-input-hint>
        <app-button (click)="addImageControl()" [buttonType]="'button'"
          >Add new field</app-button
        >
      </div>

      <div class="mb-6" formArrayName="videos">
        <app-label [id]="'videos'">Video urls</app-label>
        <div
          *ngFor="let control of videos.controls; let index = index"
          class="flex w-full justify-between"
        >
          <app-input class="w-10/12" [control]="control"></app-input>
          <app-button
            [buttonType]="'button'"
            (click)="removeVideoControl(index)"
            [className]="'bg-red-600 hover:bg-red-300'"
          >
            X
          </app-button>
        </div>
        <app-input-hint>Delete field if it is empty</app-input-hint>
        <app-button [buttonType]="'button'" (buttonClick)="addVideoControl()"
          >Add new field</app-button
        >
      </div>

      <app-button [disabled]="!form.valid">{{ buttonText }}</app-button>
    </form>
  </div>
</ng-container>
