<div class="flex justify-between">
  <div class="flex">
    <a
      *ngIf="!isFirst"
      [routerLink]="[parentLink]"
      [queryParams]="{ page: currentPage - 1 }"
    >
      <i class="zmdi zmdi-chevron-left"></i>
    </a>
    <a
      *ngFor="let page of paginationList"
      [routerLink]="[parentLink]"
      [queryParams]="{ page: page }"
      [ngClass]="{ selected: page === currentPage }"
    >
      {{ page }}
    </a>
    <a
      *ngIf="!isLast"
      [routerLink]="[parentLink]"
      [queryParams]="{ page: currentPage - 1 }"
    >
      <i class="zmdi zmdi-chevron-right"></i>
    </a>
  </div>

  <div>
    <p>
      Showing {{ showingItemsFrom }} to
      {{ showingItemsTo }} of {{ totalItems }} items
    </p>
  </div>
</div>
<!-- <div class="flex justify-between">
  <div class="flex">
    <button *ngIf="!isFirst" (click)="handlePageChange(currentPage - 1)">
      <i class="zmdi zmdi-chevron-left"></i>
    </button>
    <button
      *ngFor="let page of paginationList"
      (click)="handlePageChange(page)"
      [ngClass]="{'selected': page === currentPage}"
    >
      {{ page }}
    </button>
    <button *ngIf="!isLast" (click)="handlePageChange(currentPage + 1)">
      <i class="zmdi zmdi-chevron-right"></i>
    </button>
  </div>

  <div>
    <p>
      Showing {{  currentPage * pageSize - pageSize + 1 }} to {{ currentPage * pageSize }} of
      {{ totalItems }} items
    </p>
  </div>
</div> -->
