<div class="grid grid-cols-1 xs:grid-cols-3 bg-white">
  <div class="carousel flex items-center relative">
    <img
      class="object-contain h-48 w-full"
      *ngFor="let imageurl of product.images; let isFirst = first"
      [src]="imageurl"
      [alt]="product.title"
      [ngClass]="{ hidden: !isFirst }"
    />
    <app-box-countdown class="box-countdown hidden"></app-box-countdown>
  </div>

  <!-- info -->
  <div class="my-4 ml-5 p-4 col-span-2">
    <h2>
      <a
        nz-tooltip
        [nzTooltipTitle]="product.title"
        [nzTooltipMouseEnterDelay]="0.75"
        class="text-lg font-medium hover:text-brand line-clamp-1"
        [routerLink]="['/product', product.id]"
      >
        {{ product.title }}
      </a>
    </h2>

    <!-- stars -->
    <app-star-rating></app-star-rating>

    <app-product-price
      [showSecondPrice]="false"
      [mainPrice]="product.price"
    ></app-product-price>

    <div>
      <p class="line-clamp-3 text-sm mb-6">{{ product.desciption }}</p>
    </div>

    <!-- product-card-action -->
    <div appCardActionContainer>
      <app-card-action
        class="card-action self-center ml-3 hidden"
        [productId]="product.id"
        (addToCart)="handleAddToCart()"
        (addToWishlist)="handleAddToWishlist()"
      ></app-card-action>
    </div>
  </div>
</div>
