<div class="grid grid-cols-3   bg-white">
    <div class="carousel flex items-center relative">
      <img
        class="object-cover w-full self-start"
        src="//cdn.shopify.com/s/files/1/1939/5421/products/14m-800x800_x800.jpg?v=1493999021"
        alt=""
      />

      <app-box-countdown></app-box-countdown>
    </div>

    <!-- info -->
    <div class="my-4 ml-5 p-4 col-span-2">
      <h3 class="hover:text-brand cursor-pointer">Nunce Failadf</h3>

      <!-- stars -->
      <app-star-rating></app-star-rating>

      <!-- price: using currency pipe -->
      <app-product-price></app-product-price>

      <p class="text-sm mb-6">
        Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et
        mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia.....
      </p>

      <!-- product-card-action -->
      <div appCardActionContainer>
        <app-card-action></app-card-action>
      </div>
    </div>
  </div>