<!-- <app-breadscrumb></app-breadscrumb> -->
<div class="flex w-11/12 md:w-9/12 mx-auto my-8">
  <div class="hidden md:block w-1/4">
    <app-filter-group
      (colorAndPrice)="handleColorAndPriceChange($event)"
    ></app-filter-group>
    <a>
      <img class="w-9/12 h-auto" src="https://cdn.shopify.com/s/files/1/1939/5421/t/13/assets/collection_side.jpg?v=6045359746303178027" alt="Logo">
    </a>
  </div>

  <div class="w-9/12">
    <div class="flex flex-col xs:flex-row xs:items-center w-full py-4 border-b-2">
      <div>
        <button
          *ngFor="let type of displayTypes"
          class="toolbar-btn"
          (click)="handleProductListTypeChange(type.value)"
          [ngClass]="{'selected': (displayType$ | async) === type.value}"
        >
          <i class="fas" [ngClass]="[type.label]"></i>
        </button>
      </div>
      <app-select
        class="ml-4"
        [defaultValue]="pageLimit[0].value"
        [items]="pageLimit"
        (change)="handlePageSizeChange($event)"
      ></app-select>
      <app-select
        class="xs:ml-auto"
        [defaultValue]="sort[0].value"
        [items]="sort"
        [width]="'170px'"
        (change)="handleSortTypeChange($event)"
      ></app-select>
    </div>

    <ng-container *ngIf="(displayType$ | async) === 'grid'; else columnList">
      <div class="grid xs:grid-cols-2 lg:grid-cols-3 mt-4">
        <app-vertical-product-card *ngFor="let i of productArray">{{
          i
        }}</app-vertical-product-card>
      </div>
    </ng-container>
    <ng-template #columnList>
      <div class="flex flex-col mt-4">
        <app-horizontal-product-card *ngFor="let i of productArray">{{
          i
        }}</app-horizontal-product-card>
      </div>
    </ng-template>

    <!-- <app-pagination 
      [totalPages]="2"  
      [totalItems]="36"
      [currentPage]="2"
      [pageSize]="20"
      (pageChange)="handlePageChange($event)"
    ></app-pagination> -->
  </div>
</div>
