<div class="w-full max-w-2xl mx-auto">
  <form
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
  >
    <h2 class="text-2xl font-bold text-center">{{ buttonText }} category</h2>
    <app-messages [messages]="messages$ | async"></app-messages>
    <div class="mb-6">
      <app-label [id]="'name'">Name</app-label>
      <app-input
        [id]="'name'"
        [control]="formControls.name"
      ></app-input>
      <app-input-error [control]="formControls.name">
        Please fill in category name
      </app-input-error>
    </div>

    <div class="mb-6" *ngIf="activeSelectData$ | async as activeSelectData">
      <app-label [id]="'active'">Active</app-label>
      <app-select
        [width]="'100%'"
        [items]="activeSelectData"
        [defaultValue]="defaultIsActive"
        (change)="handleIsActiveChange($event)"
      ></app-select>
    </div>

    <app-button [disabled]="!form.valid">{{ buttonText }}</app-button>
  </form>
</div>
