<div
  class="
    absolute
    flex
    items-center
    justify-center
    border-brand border-2
    w-24
    h-24
    bg-gray-100
    rounded-full
  "
  style="top: 0; right: 10%"
>
  <div class="flex space-x-1 text-xs">
    <div class="flex flex-col items-center">
      <span>{{hours}}</span><span>Hours</span>
    </div>
    <div class="flex flex-col items-center">
      <span>{{ mins }}</span
      ><span>Mins</span>
    </div>
    <div class="flex flex-col items-center">
      <span>{{ secs }}</span
      ><span>Secs</span>
    </div>
  </div>
</div>
