<ng-container *ngIf="(vm$ | async) as vm">
  <app-breadcrumb [items]="vm.breadcrumbData"></app-breadcrumb>
  <div class="w-11/12 md:w-9/12 mx-auto mb-10">
    <h2 class="font-bold text-xl mb-5">Order History</h2>
    <p *ngIf="vm.orders?.length === 0">You haven't placed any order yet.</p>
    <div *ngIf="vm.orders?.length !== 0" class="table-container">
        <table class="min-w-max w-full">
            <tr>
              <th class="text-center text-gray-500 py-4">Create At</th>
              <th class="text-center text-gray-500 py-4">Status</th>
              <th class="text-center text-gray-500 py-4">Total Amount</th>
              <th class="text-center text-gray-500 py-4">Action</th>
            </tr>
            <tr *ngFor="let item of vm.orders; let index = index">
              <td class="p-5">
                <div class="flex justify-center">
                  <h5>{{ item.createdAt | date }}</h5>
                </div>
              </td>
              <td class="p-2">
                <div class="flex justify-center">
                  {{ item.status }}
                </div>
              </td>
              <td class="p-2">
                <div class="flex justify-center">
                  <app-product-price
                    [mainPrice]="item.total_amount"
                    [showSecondPrice]="false"
                  ></app-product-price>
                </div>
              </td>
              <td class="p-2">
                <div class="flex justify-center">
                  <a
                  [routerLink]="['/orders', item._id]"
                  class="px-4 py-2 bg-blue-600 hover:bg-blue-400 hover:text-white transition-colors text-white rounded"
                  (click)="loadOrderDetails(item._id)"
                  >View Detail</a
                >
                </div>
              </td>
            </tr>
          </table>
    </div>
  </div>
</ng-container>
