.dropdown-mobilemenu {
    background-color: #faf8f8;
}

.fas {
    font-family: FontAwesome;
}

.menu-container {
    position: relative;
}

.popup-menu {
    display: none;
    position: absolute;
    top: calc(64px / 2);
    z-index: 1;
}

.menu-container:hover .popup-menu{
    display: block;
}