<div class="bg-gray-800 py-3">
  <div class="flex justify-center md:justify-between items-center relative lg:w-9/12 mx-auto">
    <div>
      <h2 class="text-gray-300 text-xl ml-2 inline-block capitalize">
        <a [routerLink]="'/'">Home</a>
      </h2>
      <h2 class="text-gray-300 text-xl inline-block capitalize ml-8">
        <a [routerLink]="'/collections/all'">Collections</a>
      </h2>
    </div>

    <app-three-icons
      class="hidden md:block mr-8"
      [textColor]="'text-white'"
    ></app-three-icons>
  </div>
</div>
