<ul nz-menu nzMode="inline" class="sider-menu h-full">
  <li nz-submenu nzTitle="Categories">
    <ul>
      <li nz-menu-item>
        <a [routerLink]="'/admin/category-list'">List Category</a>
      </li>
      <li nz-menu-item>
        <a [routerLink]="'/admin/category-create'">Create Category</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Product">
    <ul>
      <li nz-menu-item>
        <a [routerLink]="'/admin/product-list'">List Product</a>
      </li>
      <li nz-menu-item>
        <a [routerLink]="'/admin/product-create'">Create Product</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Order">
    <ul>
      <li nz-menu-item>
        <a [routerLink]="'/admin/order-list'">List Product</a>
      </li>
      
    </ul>
  </li>
</ul>
