<!-- 15px + 0.75rem + 0.5rem -->
<div class="product-card-action flex space-x-2 m-2">
  <!-- add to cart -->
  <a
    *ngIf="showAddToCart"
    class="shopping-cart zmdi zmdi-shopping-cart"
    (click)="handleClick('addToCart')"
    nz-tooltip
    [nzTooltipTitle]="'Add to cart'"
    [nzTooltipMouseEnterDelay]="0.75"
    nzTooltipPlacement="bottom"
  ></a>
  <!-- wish list -->
  <a
    *ngIf="isLoggedIn$ | async"
    class="wishlist zmdi zmdi-favorite-outline"
    [ngClass]="{ inWishlist: isInWishlist }"
    (click)="
      isInWishlist
        ? handleClick('removeFromWishlist')
        : handleClick('addToWishlist')
    "
    [nzTooltipTitle]="isInWishlist ? 'Remove from wishlist' : 'Add to wishlist'"
    nz-tooltip
    [nzTooltipMouseEnterDelay]="0.75"
    nzTooltipPlacement="bottom"
  ></a>
  <!-- view detail -->
  <a
    [routerLink]="['/product', productId]"
    nz-tooltip
    [nzTooltipTitle]="'View product details'"
    [nzTooltipMouseEnterDelay]="0.75"
    nzTooltipPlacement="bottom"
    class="review zmdi zmdi-eye"
    (click)="handleClick('review')"
  ></a>
</div>
