.product-card-action > * {
  font-family: "Material-Design-Iconic-Font";
  font-size: 15px;
  line-height: 15px;
  background-color: #111827;
  color: white;
  padding: 0.75rem;
  border-radius: 50%;
  transition: background-color 300ms;
}

.product-card-action > *:hover {
  background-color: var(--brand-color);
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.shopping-cart,
.wishlist,
.compare,
.review,
.product-card-action > * {
  animation: grow 400ms;
}

.shopping-cart {
  animation-delay: 0ms;
}

.wishlist {
  animation-delay: 100ms;
}

.compare {
  animation-delay: 200ms;
}

.review {
  animation-delay: 300ms;
}
