<div>
    <button
      *ngIf="updateTitleWhenValueChange; else notUpdateTitle"
      class="dropdown-button ml-3 focus:outline-none focus:text-brand"
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="menu"
    >
      {{ choosedItem$ | async }}
      <span class="zmdi zmdi-chevron-down pl-1"></span>
    </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div
      class="
        bg-white
        flex flex-col
        items-start
        pl-4
        rounded-md
        shadow-lg
        p-1
      "
      style="min-width: 120px"
    >
      <button
        class="hover:cursor-pointer hover:text-brand focus:outline-none"
        *ngFor="let item of dropdownItems"
        (click)="chooseAction(item)"
      >
        {{ item.displayName }}
      </button>
    </div>
  </nz-dropdown-menu>
</div>

<ng-template #notUpdateTitle>
  <button
    class="dropdown-button pl-4 focus:outline-none focus:text-brand"
    nz-dropdown
    nzTrigger="click"
    [nzDropdownMenu]="menu"
  >
    {{ displayTitle }}
    <span class="zmdi zmdi-chevron-down pl-1"></span>
  </button>
</ng-template>
