<!-- top nav -->
<div>
  <nav class="flex justify-center">
    <div id="left" class="flex justify-center space-x-2 divide-x">
      <div class="dropdown p-1 inline-block relative">
        <button
          class="dropdown-button p-1 focus:outline-none"
          (click)="show = !show"
        >
          English
        </button>
        <div class="dropdown-content absolute bg-gray-300" *ngIf="show">
          <div class="flex flex-col w-full rounded-md shadow-lg p-1">
            <a>English</a>
            <a>French</a>
          </div>
        </div>
      </div>

      <div class="dropdown p-1 inline-block relative">
        <button
          class="dropdown-button p-1 focus:outline-none"
          (click)="show = !show"
        >
          English
        </button>
        <div class="dropdown-content absolute bg-gray-300" *ngIf="show">
          <div class="flex flex-col w-full rounded-md shadow-lg p-1">
            <a>English</a>
            <a>French</a>
          </div>
        </div>
      </div>

      <div class="dropdown p-1 inline-block relative">
        <button
          class="dropdown-button p-1 focus:outline-none"
          (click)="show = !show"
        >
          English
        </button>
        <div class="dropdown-content absolute bg-gray-300" *ngIf="show">
          <div class="flex flex-col w-full rounded-md shadow-lg p-1">
            <a>English</a>
            <a>French</a>
          </div>
        </div>
      </div>

      <div class="dropdown p-1 inline-block relative">
        <button
          class="dropdown-button p-1 focus:outline-none"
          (click)="show = !show"
        >
          English
        </button>
        <div class="dropdown-content absolute bg-gray-300" *ngIf="show">
          <div class="flex flex-col w-full rounded-md shadow-lg p-1">
            <a>English</a>
            <a>French</a>
          </div>
        </div>
      </div>
    </div>
    <div id="right"></div>
  </nav>
</div>

<!-- logo to three icon compare wishlist cart -->
<div
  class="
    flex flex-col
    items-center
    md:grid
    grid-cols-6
    md:w-large-screen
    md:mx-auto
  "
>
  <a [routerLink]="['/']" class="cols-span-1"
    ><img
      class="max-w-full h-auto my-4"
      src="https://cdn.shopify.com/s/files/1/1939/5421/files/logo2@2x.png?v=1493986970"
      alt="G Legend logo"
  /></a>

  <div
    id="search-container"
    class="rounded-full p-1 space-x-1 border border-brand col-span-3 ml-5"
  >
    <form action="" class="ml-5 flex justify-between">
      <input
        class="border-0 focus:border-0 focus:ring-0 border-collapse"
        type="text"
        placeholder="Search entire store here..."
      />
      <button id="search-button"></button>
    </form>
  </div>

  <!-- free shipping quote -->
  <div
    id="free-shipping"
    class="flex items-center content-center justify-center col-span-2"
  >
    <p class="text-center">Free Shipping on Orders $50+</p>
  </div>

  <!-- three icon SUA O DAY -->
  <app-three-icons></app-three-icons>
</div>

<!-- categori and hambuger menu -->
<app-categories-nav></app-categories-nav>