.active {
  display: block;
}

.activeTitle {
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}

.tab-title::before {
  content: "";
  height: 2px;
  width: 50px;
  background: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: -2px;
}
