<div class="border-b-2">
    <nav class="flex flex-col items-center sm:flex-row justify-between md:w-11/12 lg:w-9/12 md:mx-auto">
      <div
        class="
          flex
          space-x-2
          py-2
          divide-x-2 divide-gray-200
          my-2
        "
      >
        <app-top-nav-dropdown
          [dropdownItems]="language"
          (onSelect)="handleLanguageChange($event)"
        ></app-top-nav-dropdown>
        <app-top-nav-dropdown
          [dropdownItems]="currencyUnits"
          (onSelect)="handleCurrencyUnitChange($event)"
        ></app-top-nav-dropdown>
        <ng-container *ngIf="(isLoggedIn$ | async); else notLoggedIn">
          <app-top-nav-dropdown
          [updateTitle]="false"
          [displayTitle]="'Account'"
          [dropdownItems]="accountActionsWhenLoggedIn"
          (onSelect)="handleAccountActionChange($event)"
        ></app-top-nav-dropdown>
        </ng-container>
        <ng-template #notLoggedIn>
          <app-top-nav-dropdown
          [updateTitle]="false"
          [displayTitle]="'Account'"
          [dropdownItems]="accountActions"
          (onSelect)="handleAccountActionChange($event)"
        ></app-top-nav-dropdown>
        </ng-template>
        <a *ngIf="isAdmin$ | async" [routerLink]="['/admin']" class="pl-4">Management</a>
      </div>
    
      <div class="right flex justify-center divide-x-2 divide-gray-200">
        <div class="pr-3">
          <a class="hover:text-brand">
            <span class="zmdi zmdi-pin pr-2"></span>
            Can Tho, Vietnam
          </a>
        </div>
        <!-- <div class="pl-3">
          <a class="hover:text-brand">
            <span class="zmdi zmdi-settings pr-2"></span>
            Guarantee
          </a>
        </div> -->
      </div>
    </nav>
    
  </div>