<div class="product-card flex flex-col bg-white filter hover:shadow">
  <div>
    <a [routerLink]="['/product', product.id]">
      <img
        class="object-contain h-48 w-full"
        *ngFor="let imageurl of product.images; let isFirst = first;"
        [src]="imageurl"
        [alt]="product.title"
        [ngClass]="{'hidden': !isFirst}"
      />
    </a>
  </div>

  <!-- info -->
  <div class="pl-3">
    <h3>
      <a
        nz-tooltip
        [nzTooltipTitle]="product.title"
        [nzTooltipMouseEnterDelay]="0.75"
        class="text-lg font-medium hover:text-brand line-clamp-1"
        [routerLink]="['/product', product.id]"
        >{{ product.title }}</a
      >
    </h3>
    <app-star-rating></app-star-rating>
    <app-product-price
      [showSecondPrice]="false"
      [mainPrice]="product.price"
    ></app-product-price>
    <div appCardActionContainer>
      <app-card-action
        class="card-action self-center ml-3 hidden"
        [productId]="product.id"
        (addToCart)="handleAddToCart()"
      ></app-card-action>
    </div>
  </div>
</div>
