<div class="product-card flex flex-col bg-white filter hover:shadow-xl">
  <div>
    <a [routerLink]="['/product', product.id]">
      <img
        *ngFor="let imageurl of product.images"
        [src]="imageurl"
        [alt]="product.title"
      />
    </a>
  </div>

  <!-- info -->
  <div class="pl-5">
    <h3>
      <a
        class="text-lg font-medium hover:text-brand"
        [routerLink]="['/product', product.id]"
        >{{ product.title }}</a
      >
    </h3>
    <app-star-rating></app-star-rating>
    <app-product-price
      [showSecondPrice]="false"
      [mainPrice]="product.price"
    ></app-product-price>
    <div appCardActionContainer>
      <app-card-action
        class="card-action self-center ml-3 hidden"
      ></app-card-action>
    </div>
  </div>
</div>
