<ng-container *ngIf="(vm$ | async) as vm">
  <app-breadcrumb [items]="vm.breadcrumbData"></app-breadcrumb>
  <app-loading-spinner [isLoading]="vm.isLoading"></app-loading-spinner>
  <div class="flex flex-col w-11/12 md:w-8/12 mx-auto my-8">
    <div class="grid xs:grid-cols-2 lg:grid-cols-3 mt-4 gap-3">
      <app-vertical-product-card
        *ngFor="
          let product of vm.products"
        [product]="product"
      ></app-vertical-product-card>
    </div>
    <app-load-more *ngIf="vm.hasNext" (buttonClick)="handleLoadMore()"></app-load-more>
  </div>
</ng-container>
