<div class="hover:shadow-md grid p-3">
  <div class="">
    <a [routerLink]="['/product', product.id]">
      <img
        class="object-contain h-48 w-full"
        *ngFor="let imageurl of product.images; let isFirst = first"
        [src]="imageurl"
        [alt]="product.title"
        [ngClass]="{ hidden: !isFirst }"
      />
    </a>
  </div>
  <div class="">
    <h2>
      <a
        nz-tooltip
        [nzTooltipTitle]="product.title"
        [nzTooltipMouseEnterDelay]="0.75"
        class="text-lg font-medium hover:text-brand line-clamp-1"
        [routerLink]="['/product', product.id]"
      >
        {{ product.title }}
      </a>
    </h2>
    <app-star-rating></app-star-rating>
    <app-product-price
      [showSecondPrice]="false"
      [mainPrice]="product.price"
    ></app-product-price>
    <div appCardActionContainer>
      <app-card-action
        [showReview]="false"
        [productId]="product.id"
        [isInWishlist]="(wishlistIdSet$ | async).has(product.id)"
        (addToCart)="handleAddToCart()"
        (wishlist)="handleWishlistAction($event)"
        class="card-action hidden"
      ></app-card-action>
    </div>
  </div>
</div>
