<div class="bg-gray-300">
  <div class="w-9/12 mx-auto py-5">
    <app-section-title>Latest blogs</app-section-title>

    <swiper
        #swipercontainer
        [slidesPerView]="1"
        [spaceBetween]="20"
        [breakpoints]="breakpoints"
        [loop]="false"
      >
        <ng-template swiperSlide let-data>
          <app-latest-blogs-card></app-latest-blogs-card>
        </ng-template>
        <ng-template swiperSlide let-data>
          <app-latest-blogs-card></app-latest-blogs-card>
        </ng-template>
        <ng-template swiperSlide let-data>
          <app-latest-blogs-card></app-latest-blogs-card>
        </ng-template>
      </swiper>
  </div>
</div>
 