.breadscrumb-container {
  background: url(//cdn.shopify.com/s/files/1/1939/5421/t/13/assets/bg-breadcrumb.jpg?v=9212398928483230200)
    no-repeat center fixed;
  padding: 45px 0;
  text-align: center;
  margin-bottom: 50px;
}

