<ng-container *ngIf="vm$ | async as vm">
  <app-loading-spinner [isLoading]="vm.loading"></app-loading-spinner>
  <div class="w-11/12 mx-auto">
    <app-messages [messages]="vm.messages"></app-messages>
    <nz-table #basicTable [nzData]="vm.products" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th style="text-align: center">Action</th>
          <!-- <th class="action">Active Product</th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of basicTable.data
              | paginate
                : {
                    itemsPerPage: vm.paginationInfo.limit,
                    currentPage: vm.paginationInfo.page,
                    totalItems: vm.paginationInfo.totalItems
                  };
            let index = index
          "
        >
          <td>
            <img
              *ngFor="let image of item.images; let first = first"
              [src]="image"
              [alt]="item.title"
              [ngClass]="{ hidden: !first }"
              class="h-16 w-16 object-contain"
            />
          </td>
          <td>{{ item.title }}</td>
          <td class="w-4/12">
            <div class="flex justify-around">
              <app-button
                (click)="handleUpdate(index)"
                [className]="'bg-blue-700 hover:bg-blue-400'"
              >
                <i class="zmdi zmdi-border-color"></i>
              </app-button>
              <app-button
                (click)="handleRemove(index)"
                [className]="'bg-red-700 hover:bg-red-400'"
              >
                <i class="zmdi zmdi-delete"></i>
              </app-button>
            </div>
          </td>
          <!-- <td class="w-1/5">
            <div class="flex justify-around">
              <app-button>Active</app-button>
              <app-button>Deactive</app-button>
            </div>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
    <app-pagination (pageChange)="handlePageChange($event)"></app-pagination>
  </div>
</ng-container>
