h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
  content: "";
  height: 2px;
  width: 55px;
  background: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: -2px;
}

.filter-section {
    margin-bottom: 2rem;
}